h1 {
	color: $color-white;
    text-align: left;
    margin: 220px 336px 0 162px;
    font-weight: 400;
}

img {
	width: 900px;
  	height: 592px;
  	margin: 100px 380px 0 160px
}

h2.lost {
	 width: 900px;
  	 height: 162px;
  	 font-weight: bold;
  	 text-align: left;
  	 margin: 80px 380px 0 160px;
}

h2.company {
	width: 900px;
  	height: 418px;
  	font-weight: bold;
  	color: $color-white;
  	margin: 200px 380px 0 160px;
}

p.company {
	padding-top: 30px;
}