.SafeStorage {
	background: $background-color-yellow;
  	margin: 109px 40px 0 40px;

}

h1.SafeStorage {
	color: black;
	padding: 90px 324px 0 80px;
	font-weight: 600;
}

.conteiner-SafeStorage {
	display: flex;
}

.all-description {
	display: flex;
	flex-direction: column;
}

.description {
	margin: 73px 0 0 120px;
	width: 520px;
	height: 226px; 
}

p.description2 {
	padding-top: 20px;
}

p.description3 {
	padding-top: 82px;
 	font-weight: bold;
	letter-spacing: 4px;
	color: $color-red
}

.picture{
	width: 579px;
	height: 412px;
	//margin: 73px 45px 81px 96px;
	 
}

img.map {
	width: 579px;
	height: 412px;
	margin: 73px 45px 81px 96px;
}


