.SafeStorage {
	background: $background-color-yellow;
  	margin: 109px 40px 0 40px;
}

h1.SafeStorage {
	color: black;
	padding: 90px 324px 0 80px;
	font-weight: 600;
} 	

.description {
	margin: 73px 720px 0 120px;
	width: 520px;
	height: 226px; 
}

p.description2 {
	padding-top: 20px;
}


