.introduction
	h1 «Партнёр логистик» — логистический центр в Астане.
	img(src="img/trucks.jpg")

	h2.lost Ежедневно компании теряют товары из-за ошибок в организации перевозок, хранения и учёта товаров.

	h2.company В компании «Партнёр логистик» мы сделали всё возможное, чтобы вам не пришлось беспокоиться из-за качества логистики.
		span &nbsp;
		p.company У нас — собственный склад, проверенный персонал и спецтехника. Мы используем профессиональную систему управления складом.