.SafeStorage
	h1.SafeStorage Надежное хранение
	.description
		h3 Новый склад «Партнёр логистик», построенный в 2017 году, находится на территории Индустриального парка Астаны.
			p.description2 Такое местоположение позволяет обеспечить оперативную доставку товаров в любую точку Астаны вне зависимости от времени года.