/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,bold");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.63;
  font-size: 16px;
  background-color: #050d1f; }

h1 {
  line-height: 1.18;
  font-size: 80px;
  font-weight: 900; }

h2 {
  line-height: 1.35;
  font-size: 40px;
  font-weight: 300; }

h3.adress {
  font-size: 13px;
  color: #ffffff;
  line-height: 1.23; }

h3 {
  font-size: 22px;
  line-height: 1.59;
  text-align: left;
  color: #3f3f3f; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

h1 {
  color: #ffffff;
  text-align: left;
  margin: 220px 336px 0 162px;
  font-weight: 400; }

img {
  width: 900px;
  height: 592px;
  margin: 100px 380px 0 160px; }

h2.lost {
  width: 900px;
  height: 162px;
  font-weight: bold;
  text-align: left;
  margin: 80px 380px 0 160px; }

h2.company {
  width: 900px;
  height: 418px;
  font-weight: bold;
  color: #ffffff;
  margin: 200px 380px 0 160px; }

p.company {
  padding-top: 30px; }

.SafeStorage {
  background: #f6e297;
  margin: 109px 40px 0 40px; }

h1.SafeStorage {
  color: black;
  padding: 90px 324px 0 80px;
  font-weight: 600; }

.conteiner-SafeStorage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.all-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.description {
  margin: 73px 0 0 120px;
  width: 520px;
  height: 226px; }

p.description2 {
  padding-top: 20px; }

p.description3 {
  padding-top: 82px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #e18571; }

.picture {
  width: 579px;
  height: 412px; }

img.map {
  width: 579px;
  height: 412px;
  margin: 73px 45px 81px 96px; }

.menu {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  opacity: 0.7; }
  .menu .logotype, .menu .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu .logo {
    display: block;
    width: 106px;
    height: 53px;
    font-size: 0;
    background: url("../img/logo.svg") center/contain no-repeat; }
  .menu .adress {
    width: 188px;
    height: 32px;
    font-size: 13px;
    line-height: 1.23;
    text-align: right;
    margin-right: 40px; }
