extends layouts/template.jade

block variables
	- title="Главная страница"

block content
	include sections/header.jade
	.wrapper
		main.content
		include index/introduction.jade

	include sections/footer.jade