@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,bold');


$width-left: 20px;
$width-right: 40px;

//color var
$color-white: #ffffff;
$color-gray: #3f3f3f;
$color-red: #e18571;

//background-color var
$background-color-blue: #050d1f;
$background-color-yellow: #f6e297;

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.63;
  font-size: 16px;
  background-color: $background-color-blue;
}

h1 {
  line-height: 1.18;
  font-size: 80px;
  font-weight: 900;
}

h2 {
	line-height: 1.35;
	font-size: 40px;
  	font-weight: 300;
}
h3.adress {
  font-size: 13px;
  color: $color-white;
  line-height: 1.23;
}

h3 {
  //font-weight: 900;
  font-size: 22px;
  line-height: 1.59;
  text-align: left;
  color: $color-gray;
}

.content {
  display: flex;
  flex-wrap: wrap;
}